version: '3.9'


services:
  postgres:
    image: postgres:16
    container_name: postgres-chat-verzel
    restart: always
    environment:
    POSTGRES_USER: postgres
    POSTGRES_PASSWORD: 123456
    POSTGRES_DB: chat_verzel
    ports:
    - "5432:5432"
    volumes:
    - ./postgres-data:/var/lib/postgresql/data